.root {
  aspect-ratio: 1;
  background-color: var(--bg-inverted-default);
  display: grid;
  gap: 0;
}

.root canvas {
  display: block;
  height: auto !important;
  width: 100% !important;
}

.loader {
  align-self: center;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}
