.root {
  --grid-column-size: 320px;
  --grid-gap: var(--size-md);

  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-column-size), 95vw), 1fr));
}
