* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-body);
  background-color: var(--bg-base-default);
  color: var(--fg-regular-default);
}

a {
  color: inherit;
  text-decoration: none;
}

:focus,
:focus-visible {
  outline: 2px solid var(--primary-action-default);
  outline-offset: 4px;
}
