:root {
  --root-size: 100%;

  --size-0: 0;
  --size-2: 2px;
  --size-4: 4px;
  --size-6: 6px;
  --size-8: 8px;
  --size-12: 12px;
  --size-16: 16px;
  --size-20: 20px;
  --size-24: 24px;
  --size-32: 32px;
  --size-40: 40px;
  --size-48: 48px;
  --size-56: 56px;
  --size-64: 64px;
  --size-72: 72px;
  --size-96: 96px;
  --size-128: 128px;

  --width-128: 128px;
  --width-192: 192px;
  --width-256: 256px;
  --width-384: 384px;
  --width-512: 512px;
  --width-640: 640px;
  --width-768: 768px;
  --width-1024: 1024px;
  --width-1280: 1280px;
  --width-1440: 1440px;
  --width-1600: 1600px;
  --width-1920: 1920px;

  --shadow-low: 0 0 var(--size-4) hsl(0deg 0 0 / 10%);
  --shadow-mid: 0 var(--size-4) var(--size-8) hsl(0deg 0 0 / 15%);
  --shadow-high: 0 var(--size-8) var(--size-12) hsl(0deg 0 0 / 20%);

  /* --font-family-heading: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
    helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-family-body: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
    helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol'; */
  --font-family-heading: menlo, consolas, monaco, liberation mono,
    lucida console, monospace;
  --font-family-body: menlo, consolas, monaco, liberation mono, lucida console,
    monospace;
  --font-family-data: menlo, consolas, monaco, liberation mono, lucida console,
    monospace;

  --font-weight-heading: 700;
  --font-weight-body: 400;
  --font-weight-data: 400;

  --font-size-heading-xs: clamp(0.85em, 1.2vw, 1em);
  --font-size-heading-sm: clamp(1em, 1.5vw, 1.2em);
  --font-size-heading-md: clamp(1.2em, 2vw, 1.6em);
  --font-size-heading-lg: clamp(1.45em, 2.6vw, 2.2em);
  --font-size-heading-xl: clamp(1.8em, 3.6vw, 3.2em);

  --font-size-body-xs: clamp(0.7em, 1vw, 0.8em);
  --font-size-body-sm: clamp(0.9em, 1.2vw, 1em);
  --font-size-body-md: clamp(1em, 1.5vw, 1.2em);
  --font-size-body-lg: clamp(1.15em, 2vw, 1.6em);
  --font-size-body-xl: clamp(1.4em, 3vw, 2.4em);

  --font-size-data-xs: clamp(0.7em, 1vw, 0.9em);
  --font-size-data-sm: clamp(0.85em, 1.2vw, 1em);
  --font-size-data-md: clamp(1em, 1.5vw, 1.2em);
  --font-size-data-lg: clamp(1.15em, 2vw, 1.6em);
  --font-size-data-xl: clamp(1.4em, 3vw, 2.4em);

  /* Colors! */
  --bg-base-default: hsl(0deg 2% 100%);
  --bg-base-hover: hsl(0deg 2% 93%);
  --bg-base-pressed: hsl(0deg 2% 88%);
  --bg-alt-default: hsl(0deg 2% 93%);
  --bg-alt-hover: hsl(0deg 2% 88%);
  --bg-alt-pressed: hsl(0deg 2% 80%);
  --bg-inverted-default: hsl(0deg 0% 8%);
  --bg-inverted-hover: hsl(0deg 0% 12%);
  --bg-inverted-pressed: hsl(0deg 0% 17%);

  --fg-regular-default: hsl(0deg 0% 8%);
  --fg-regular-hover: hsl(0deg 0% 12%);
  --fg-regular-pressed: hsl(0deg 0% 17%);
  --fg-muted-default: hsl(0deg 0% 22%);
  --fg-muted-hover: hsl(0deg 0% 17%);
  --fg-muted-pressed: hsl(0deg 0% 12%);
  --fg-inverted-default: hsl(0deg 0% 97%);
  --fg-inverted-hover: hsl(0deg 0% 93%);
  --fg-inverted-pressed: hsl(0deg 0% 89%);

  --primary-action-default: hsl(200deg 85% 40%);
  --primary-action-hover: hsl(200deg 90% 32%);
  --primary-action-pressed: hsl(200deg 95% 24%);
  --primary-muted-default: hsl(200deg 30% 80%);
  --primary-muted-hover: hsl(200deg 30% 65%);
  --primary-muted-pressed: hsl(200deg 30% 50%);

  --success-action-default: hsl(150deg 84% 18%);
  --success-action-hover: hsl(150deg 90% 13%);
  --success-action-pressed: hsl(150deg 95% 8%);
  --success-muted-default: hsl(150deg 30% 80%);
  --success-muted-hover: hsl(150deg 30% 65%);
  --success-muted-pressed: hsl(150deg 30% 50%);

  --warning-action-default: hsl(40deg 100% 36%);
  --warning-action-hover: hsl(40deg 100% 32%);
  --warning-action-pressed: hsl(40deg 100% 26%);
  --warning-muted-default: hsl(40deg 30% 80%);
  --warning-muted-hover: hsl(40deg 30% 65%);
  --warning-muted-pressed: hsl(40deg 30% 50%);

  --critical-action-default: hsl(350deg 85% 35%);
  --critical-action-hover: hsl(350deg 90% 20%);
  --critical-action-pressed: hsl(350deg 95% 15%);
  --critical-muted-default: hsl(350deg 30% 80%);
  --critical-muted-hover: hsl(350deg 30% 65%);
  --critical-muted-pressed: hsl(350deg 30% 50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-base-default: hsl(0deg 2% 0%);
    --bg-base-hover: hsl(0deg 2% 4%);
    --bg-base-pressed: hsl(0deg 2% 8%);
    --bg-alt-default: hsl(0deg 2% 7%);
    --bg-alt-hover: hsl(0deg 2% 12%);
    --bg-alt-pressed: hsl(0deg 2% 20%);
    --bg-inverted-default: hsl(0deg 0% 92%);
    --bg-inverted-hover: hsl(0deg 0% 88%);
    --bg-inverted-pressed: hsl(0deg 0% 83%);

    --fg-regular-default: hsl(0deg 0% 92%);
    --fg-regular-hover: hsl(0deg 0% 88%);
    --fg-regular-pressed: hsl(0deg 0% 83%);
    --fg-muted-default: hsl(0deg 0% 77%);
    --fg-muted-hover: hsl(0deg 0% 85%);
    --fg-muted-pressed: hsl(0deg 0% 94%);
    --fg-inverted-default: hsl(0deg 0% 97%);
    --fg-inverted-hover: hsl(0deg 0% 93%);
    --fg-inverted-pressed: hsl(0deg 0% 89%);

    --primary-action-default: hsl(200deg 85% 40%);
    --primary-action-hover: hsl(200deg 90% 32%);
    --primary-action-pressed: hsl(200deg 95% 24%);
    --primary-muted-default: hsl(200deg 30% 80%);
    --primary-muted-hover: hsl(200deg 30% 65%);
    --primary-muted-pressed: hsl(200deg 30% 50%);

    --success-action-default: hsl(150deg 84% 18%);
    --success-action-hover: hsl(150deg 90% 13%);
    --success-action-pressed: hsl(150deg 95% 8%);
    --success-muted-default: hsl(150deg 30% 80%);
    --success-muted-hover: hsl(150deg 30% 65%);
    --success-muted-pressed: hsl(150deg 30% 50%);

    --warning-action-default: hsl(40deg 100% 36%);
    --warning-action-hover: hsl(40deg 100% 32%);
    --warning-action-pressed: hsl(40deg 100% 26%);
    --warning-muted-default: hsl(40deg 30% 80%);
    --warning-muted-hover: hsl(40deg 30% 65%);
    --warning-muted-pressed: hsl(40deg 30% 50%);

    --critical-action-default: hsl(350deg 85% 35%);
    --critical-action-hover: hsl(350deg 90% 20%);
    --critical-action-pressed: hsl(350deg 95% 15%);
    --critical-muted-default: hsl(350deg 30% 80%);
    --critical-muted-hover: hsl(350deg 30% 65%);
    --critical-muted-pressed: hsl(350deg 30% 50%);
  }
}
