:root {
  --size-xs: clamp(0.2rem, 0.7vw, 0.5rem);
  --size-sm: clamp(0.6rem, 1.4vw, 1rem);
  --size-md: clamp(0.8rem, 2vw, 1.8rem);
  --size-lg: clamp(1rem, 2.8vw, 2.6rem);
  --size-xl: clamp(1.4rem, 4.8vw, 4rem);
  --shadow-low: 0 0.1em var(--size-xs) hsl(0deg 0 0 / 10%);
  --shadow-mid: 0 0.2em var(--size-sm) hsl(0deg 0 0 / 15%);
  --shadow-high: 0 0.3em var(--size-md) hsl(0deg 0 0 / 20%);
  --font-family-body:
    -apple-system,
    blinkmacsystemfont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  --font-family-data:
    menlo,
    consolas,
    monaco,
    liberation mono,
    lucida console,
    monospace;
  --bg-base-default: hsl(0deg 2% 100%);
  --bg-base-hover: hsl(0deg 2% 93%);
  --bg-base-pressed: hsl(0deg 2% 88%);
  --bg-alt-default: hsl(0deg 2% 93%);
  --bg-alt-hover: hsl(0deg 2% 88%);
  --bg-alt-pressed: hsl(0deg 2% 80%);
  --bg-inverted-default: hsl(0deg 0% 8%);
  --bg-inverted-hover: hsl(0deg 0% 12%);
  --bg-inverted-pressed: hsl(0deg 0% 17%);
  --content-regular-default: hsl(0deg 0% 8%);
  --content-regular-hover: hsl(0deg 0% 12%);
  --content-regular-pressed: hsl(0deg 0% 17%);
  --content-muted-default: hsl(0deg 0% 22%);
  --content-muted-hover: hsl(0deg 0% 17%);
  --content-muted-pressed: hsl(0deg 0% 12%);
  --content-inverted-default: hsl(0deg 0% 97%);
  --content-inverted-hover: hsl(0deg 0% 93%);
  --content-inverted-pressed: hsl(0deg 0% 89%);
  --primary-action-default: hsl(200deg 85% 30%);
  --primary-action-hover: hsl(200deg 90% 25%);
  --primary-action-pressed: hsl(200deg 95% 20%);
  --primary-muted-default: hsl(200deg 30% 80%);
  --primary-muted-hover: hsl(200deg 30% 65%);
  --primary-muted-pressed: hsl(200deg 30% 50%);
  --success-action-default: hsl(150deg 84% 18%);
  --success-action-hover: hsl(150deg 90% 13%);
  --success-action-pressed: hsl(150deg 95% 8%);
  --success-muted-default: hsl(150deg 30% 80%);
  --success-muted-hover: hsl(150deg 30% 65%);
  --success-muted-pressed: hsl(150deg 30% 50%);
  --warning-action-default: hsl(40deg 85% 25%);
  --warning-action-hover: hsl(40deg 90% 20%);
  --warning-action-pressed: hsl(40deg 95% 15%);
  --warning-muted-default: hsl(40deg 30% 80%);
  --warning-muted-hover: hsl(40deg 30% 65%);
  --warning-muted-pressed: hsl(40deg 30% 50%);
  --critical-action-default: hsl(350deg 85% 35%);
  --critical-action-hover: hsl(350deg 90% 20%);
  --critical-action-pressed: hsl(350deg 95% 15%);
  --critical-muted-default: hsl(350deg 30% 80%);
  --critical-muted-hover: hsl(350deg 30% 65%);
  --critical-muted-pressed: hsl(350deg 30% 50%);
}
