:root {
  --root-size: 100%; /* 16px; */
  --size-0: 0;
  --size-2: 2px;
  --size-4: 4px;
  --size-8: 8px;
  --size-12: 12px;
  --size-16: 16px;
  --size-24: 24px;
  --size-32: 32px;
  --size-40: 40px;
  --size-48: 48px;
  --size-xxs: clamp(var(--size-2), 0.5vw, var(--size-4));
  --size-xs: clamp(var(--size-4), 0.7vw, var(--size-8));
  --size-sm: clamp(var(--size-8), 1.4vw, var(--size-12));
  --size-md: clamp(var(--size-12), 2vw, var(--size-16));
  --size-lg: clamp(var(--size-16), 2.8vw, var(--size-24));
  --size-xl: clamp(var(--size-24), 4.8vw, var(--size-32));
  --shadow-low: 0 0 var(--size-xs) hsl(0deg 0 0 / 10%);
  --shadow-mid: 0 var(--size-4) var(--size-8) hsl(0deg 0 0 / 15%);
  --shadow-high: 0 var(--size-8) var(--size-12) hsl(0deg 0 0 / 20%);
  --font-family-body:
    -apple-system,
    blinkmacsystemfont,
    "Segoe UI",
    roboto,
    helvetica,
    arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-family-data:
    menlo,
    consolas,
    monaco,
    liberation mono,
    lucida console,
    monospace;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --bg-base-default: hsl(0deg 2% 100%);
  --bg-base-hover: hsl(0deg 2% 93%);
  --bg-base-pressed: hsl(0deg 2% 88%);
  --bg-alt-default: hsl(0deg 2% 93%);
  --bg-alt-hover: hsl(0deg 2% 88%);
  --bg-alt-pressed: hsl(0deg 2% 80%);
  --bg-inverted-default: hsl(0deg 0% 8%);
  --bg-inverted-hover: hsl(0deg 0% 12%);
  --bg-inverted-pressed: hsl(0deg 0% 17%);
  --content-regular-default: hsl(0deg 0% 8%);
  --content-regular-hover: hsl(0deg 0% 12%);
  --content-regular-pressed: hsl(0deg 0% 17%);
  --content-muted-default: hsl(0deg 0% 22%);
  --content-muted-hover: hsl(0deg 0% 17%);
  --content-muted-pressed: hsl(0deg 0% 12%);
  --content-inverted-default: hsl(0deg 0% 97%);
  --content-inverted-hover: hsl(0deg 0% 93%);
  --content-inverted-pressed: hsl(0deg 0% 89%);
  --primary-action-default: hsl(280deg 85% 40%);
  --primary-action-hover: hsl(280deg 90% 32%);
  --primary-action-pressed: hsl(280deg 95% 24%);
  --primary-muted-default: hsl(280deg 30% 80%);
  --primary-muted-hover: hsl(280deg 30% 65%);
  --primary-muted-pressed: hsl(280deg 30% 50%);
  --success-action-default: hsl(150deg 84% 18%);
  --success-action-hover: hsl(150deg 90% 13%);
  --success-action-pressed: hsl(150deg 95% 8%);
  --success-muted-default: hsl(150deg 30% 80%);
  --success-muted-hover: hsl(150deg 30% 65%);
  --success-muted-pressed: hsl(150deg 30% 50%);
  --warning-action-default: hsl(40deg 85% 25%);
  --warning-action-hover: hsl(40deg 90% 20%);
  --warning-action-pressed: hsl(40deg 95% 15%);
  --warning-muted-default: hsl(40deg 30% 80%);
  --warning-muted-hover: hsl(40deg 30% 65%);
  --warning-muted-pressed: hsl(40deg 30% 50%);
  --critical-action-default: hsl(350deg 85% 35%);
  --critical-action-hover: hsl(350deg 90% 20%);
  --critical-action-pressed: hsl(350deg 95% 15%);
  --critical-muted-default: hsl(350deg 30% 80%);
  --critical-muted-hover: hsl(350deg 30% 65%);
  --critical-muted-pressed: hsl(350deg 30% 50%);
}
